.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 1rem auto;
}

.containerMain {
  max-width: 34rem;
  padding: 0 0.5rem;
  margin: 3rem auto 3rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
